<div id="search-results" style="display: none;">
        Nenhum dado encontrado
    </div>
    <nav class="topnav">
        <div class="logo">
            <a href="#" class="display-sm display-md" id="menu"><i class="fa fa-list-ul"></i></a>
            <a href="index.html" class="hidden-sm"><h1>Dashboard</h1></a>
        </div>
        <div class="user-menu">
            <form action="#" method="post" class="hidden-sm">
                <input type="text" name="search" id="search" placeholder="Tìm kiếm...">
                <i class="fa fa-search"></i>
            </form>
            <div>
                <a href="#"><i class="fa fa-user"></i>Trung</a>
                <a href="#" title="Đăng xuất"><i class="fa fa-power-off"></i></a>
            </div>
        </div>
    </nav>
   
   <aside class="sidenav hidden-sm hidden-md" id="nav">
       <div class="list">
            <a href="/page-admin"><i class="fa fa-home"></i> Hệ thống</a>
           <a href="/page-admin/san-pham"><i class="fa fa-th"></i>Sản Phẩm</a>
           <a href="/page-admin/nguoi-dung"><i class="fa fa-users"></i> User</a>
           <a href="#"><i class="fa fa-edit"></i> Reports</a>
           <a href="#"><i class="fa fa-wrench"></i> Manage</a>
           <a href="#"><i class="fa fa-list"></i> Graphics</a>
           <a href="#"><i class="fa fa-bell"></i> Notification</a>
           <a href="#"><i class="fa fa-cogs"></i> Settings</a>
       </div>
   </aside>
