<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
          <div id="first">
              <div class="myform form ">
                    <div class="logo mb-3">
                       <div class="col-md-12 text-center">
                          <h1 >Signup</h1>
                       </div>
                    </div>
                    <% if(messageRegister.length > 0) { %>
                        <div class="alert alert-danger"><%= messageRegister %></div>
                   <% } %>
                    <form action="/register" name="registration" method="POST">
                       <div class="form-group">
                          <label for="exampleInputEmail1">Username:</label>
                          <input type="text"  name="username" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Nhập Username" required>
                       </div>
                       <div class="form-group">
                          <label for="exampleInputEmail1">Email address:</label>
                          <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Nhập email" required>
                       </div>
                       <div class="form-group">
                          <label for="exampleInputEmail1">Password:</label>
                          <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Nhập Password" required>
                       </div>
                       <div class="form-group">
                        <p class="text-center">By signing up you accept our <a href="#">Terms Of Use</a></p>
                     </div>
                       <div class="col-md-12 text-center mb-3">
                          <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Đăng ký.</button>
                       </div>
                       <div class="col-md-12 ">
                          <div class="form-group">
                             <p class="text-center"><a href="/login-page" id="signin">Already have an account?</a></p>
                          </div>
                       </div>
                        </div>
                    </form>
                 </div>
        </div>
    </div>
  </div>   